<a href="https://colab.research.google.com/github/jouherdauf/Hotel_booking_Analysis/blob/main/Hotel%20Booking%20Analysis.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
# Importing all import python libraries
import numpy as np
import pandas as pd
import matplotlib
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

In [2]:
from google.colab import drive   # Mounting  the google drive
drive.mount('/content/drive')

Mounted at /content/drive

In [3]:
htl_bkn = pd.read_csv(('/content/drive/MyDrive/Hotel_Analysis/Hotel Bookings.csv'))
country = pd.read_csv(('/content/drive/MyDrive/Hotel_Analysis/country.csv'))

In [4]:
htl_bkn.head()  # A overview of the data

,hotel,is_canceled,lead_time,arrival_date_year,arrival_date_month,arrival_date_week_number,arrival_date_day_of_month,stays_in_weekend_nights,stays_in_week_nights,adults,...,deposit_type,agent,company,days_in_waiting_list,customer_type,adr,required_car_parking_spaces,total_of_special_requests,reservation_status,reservation_status_date
0,Resort Hotel,0,342,2015,July,27,1,0,0,2,...,No Deposit,NaN,NaN,0,Transient,0.0,0,0,Check-Out,2015-07-01
1,Resort Hotel,0,737,2015,July,27,1,0,0,2,...,No Deposit,NaN,NaN,0,Transient,0.0,0,0,Check-Out,2015-07-01
2,Resort Hotel,0,7,2015,July,27,1,0,1,1,...,No Deposit,NaN,NaN,0,Transient,75.0,0,0,Check-Out,2015-07-02
3,Resort Hotel,0,13,2015,July,27,1,0,1,1,...,No Deposit,304.0,NaN,0,Transient,75.0,0,0,Check-Out,2015-07-02
4,Resort Hotel,0,14,2015,July,27,1,0,2,2,...,No Deposit,240.0,NaN,0,Transient,98.0,0,1,Check-Out,2015-07-03

In [5]:
len(htl_bkn.axes[0]),len(htl_bkn.axes[1])

(119390, 32)

In [6]:
htl_bkn.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 119390 entries, 0 to 119389
Data columns (total 32 columns):
 #   Column                          Non-Null Count   Dtype
---  ------                          --------------   -----
 0   hotel                           119390 non-null  object
 1   is_canceled                     119390 non-null  int64
 2   lead_time                       119390 non-null  int64
 3   arrival_date_year               119390 non-null  int64
 4   arrival_date_month              119390 non-null  object
 5   arrival_date_week_number        119390 non-null  int64
 6   arrival_date_day_of_month       119390 non-null  int64
 7   stays_in_weekend_nights         119390 non-null  int64
 8   stays_in_week_nights            119390 non-null  int64
 9   adults                          119390 non-null  int64
 10  children                        119386 non-null  float64
 11  babies                          119390 non-null  int64
 12  meal                            119390 non-null  object
 13  country                         118902 non-null  object
 14  market_segment                  119390 non-null  object
 15  distribution_channel            119390 non-null  object
 16  is_repeated_guest               119390 non-null  int64
 17  previous_cancellations          119390 non-null  int64
 18  previous_bookings_not_canceled  119390 non-null  int64
 19  reserved_room_type              119390 non-null  object
 20  assigned_room_type              119390 non-null  object
 21  booking_changes                 119390 non-null  int64
 22  deposit_type                    119390 non-null  object
 23  agent                           103050 non-null  float64
 24  company                         6797 non-null    float64
 25  days_in_waiting_list            119390 non-null  int64
 26  customer_type                   119390 non-null  object
 27  adr                             119390 non-null  float64
 28  required_car_parking_spaces     119390 non-null  int64
 29  total_of_special_requests       119390 non-null  int64
 30  reservation_status              119390 non-null  object
 31  reservation_status_date         119390 non-null  object
dtypes: float64(4), int64(16), object(12)
memory usage: 29.1+ MB

In [7]:
htl_bkn.describe()

,is_canceled,lead_time,arrival_date_year,arrival_date_week_number,arrival_date_day_of_month,stays_in_weekend_nights,stays_in_week_nights,adults,children,babies,is_repeated_guest,previous_cancellations,previous_bookings_not_canceled,booking_changes,agent,company,days_in_waiting_list,adr,required_car_parking_spaces,total_of_special_requests
count,119390.000000,119390.000000,119390.000000,119390.000000,119390.000000,119390.000000,119390.000000,119390.000000,119386.000000,119390.000000,119390.000000,119390.000000,119390.000000,119390.000000,103050.000000,6797.000000,119390.000000,119390.000000,119390.000000,119390.000000
mean,0.370416,104.011416,2016.156554,27.165173,15.798241,0.927599,2.500302,1.856403,0.103890,0.007949,0.031912,0.087118,0.137097,0.221124,86.693382,189.266735,2.321149,101.831122,0.062518,0.571363
std,0.482918,106.863097,0.707476,13.605138,8.780829,0.998613,1.908286,0.579261,0.398561,0.097436,0.175767,0.844336,1.497437,0.652306,110.774548,131.655015,17.594721,50.535790,0.245291,0.792798
min,0.000000,0.000000,2015.000000,1.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,6.000000,0.000000,-6.380000,0.000000,0.000000
25%,0.000000,18.000000,2016.000000,16.000000,8.000000,0.000000,1.000000,2.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,9.000000,62.000000,0.000000,69.290000,0.000000,0.000000
50%,0.000000,69.000000,2016.000000,28.000000,16.000000,1.000000,2.000000,2.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,14.000000,179.000000,0.000000,94.575000,0.000000,0.000000
75%,1.000000,160.000000,2017.000000,38.000000,23.000000,2.000000,3.000000,2.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,229.000000,270.000000,0.000000,126.000000,0.000000,1.000000
max,1.000000,737.000000,2017.000000,53.000000,31.000000,19.000000,50.000000,55.000000,10.000000,10.000000,1.000000,26.000000,72.000000,21.000000,535.000000,543.000000,391.000000,5400.000000,8.000000,5.000000

We see that there are 32 columns in the dataframe and some columns like 'children', 'company', 'country' and 'agent' have null values.

In [8]:
df1 = htl_bkn.copy() # Creating a copy of dataframe

In [9]:
 # Count the Unique Element of all column and there counts
lengths = sorted([len(s) for s in sorted(df1)])
space = lengths[-1]*' '
for i in sorted(df1):
  if df1[i].nunique() <= 10:
    print(f'{i} {space[len(i):27]}{df1[i].nunique()} {df1[i].unique()}')

arrival_date_year           3 [2015 2016 2017]
babies                      5 [ 0  1  2 10  9]
children                    5 [ 0.  1.  2. 10.  3. nan]
customer_type               4 ['Transient' 'Contract' 'Transient-Party' 'Group']
deposit_type                3 ['No Deposit' 'Refundable' 'Non Refund']
distribution_channel        5 ['Direct' 'Corporate' 'TA/TO' 'Undefined' 'GDS']
hotel                       2 ['Resort Hotel' 'City Hotel']
is_canceled                 2 [0 1]
is_repeated_guest           2 [0 1]
market_segment              8 ['Direct' 'Corporate' 'Online TA' 'Offline TA/TO' 'Complementary' 'Groups'
 'Undefined' 'Aviation']
meal                        5 ['BB' 'FB' 'HB' 'SC' 'Undefined']
required_car_parking_spaces 5 [0 1 2 8 3]
reservation_status          3 ['Check-Out' 'Canceled' 'No-Show']
reserved_room_type          10 ['C' 'A' 'D' 'E' 'G' 'F' 'H' 'L' 'P' 'B']
total_of_special_requests   6 [0 1 3 2 4 5]

# **Cleaning the Data**
Data Cleaning is essenstial part of Data Analysis as raw data contains improper data such as Nan/Null Values, Duplicates which make our visualization insignificant.

1.Remove duplicate rows.

In [10]:
df1[df1.duplicated()].shape # checking the  number of duplicate rows

(31994, 32)

In [11]:
df1.drop_duplicates(inplace=True) # drop the duplicates row
df1.reset_index(inplace= True) # reset the index

2.Taking care of missing values.

In [12]:
df1.isnull().sum().sort_values(ascending = False)[:5]

company               82137
agent                 12193
country                 452
children                  4
reserved_room_type        0
dtype: int64

In [13]:
df1.dropna(subset=['children'],inplace = True) # Since children has only four Null values dropping it will not effect the data

In [14]:
df1['country'].fillna('others', inplace = True)

In [15]:
df1.drop('company',axis= 1,inplace = True)

In [16]:
df1['agent'] = df1['agent'].fillna(0)

3.Change the datatypes of the columns.

In [17]:
df1.loc[df1['distribution_channel']  =='Undefined']['distribution_channel'].count()

1

In [18]:
df1.drop(df1[df1['distribution_channel'] == 'Undefined'].index, inplace = True) # There are only one Undefined Value in the distribution_channel so it can de dropped

In [19]:
df1[df1['adults']+df1['babies']+df1['children'] == 0].shape # Checking the  no of row with zero visitor

(166, 32)

In [20]:
df1.drop(df1[df1['adults']+df1['babies']+df1['children'] == 0].index, inplace = True) #drop the row with zero visitor

In [21]:
df1[['children', 'agent']] = df1[['children', 'agent']].astype('int64') # converting children & agent into proper datatype

In [22]:
df1['reservation_status_date'] = pd.to_datetime(df1['reservation_status_date'], format = '%Y-%m-%d') #converting reservation_status_date into datatype datetime

4.Adding important columns

In [23]:
# Adding total staying days in hotels
df1['stay_days'] = df1['stays_in_weekend_nights']+df1['stays_in_week_nights']

# Adding total people num as column, i.e. total people num = num of adults + children + babies
df1['no_of_people'] = df1['adults']+df1['children']+df1['babies']

In [24]:
# creating arrival_date and arrival_day column
from datetime import datetime
df1['arrival_date'] = df1.apply(lambda row:  str(row['arrival_date_year']) +' '+ str(row['arrival_date_month']) + ' ' + str(row['arrival_date_day_of_month']),axis =1)
df1['arrival_date']=  pd.to_datetime(df1['arrival_date'])
df1['arrival_day'] = df1['arrival_date'].dt.day_name()
df1['arrival_date'] = pd.to_datetime(df1['arrival_date']).dt.strftime('%d %b %Y')